language: go

go:
  - 1.7
  - 1.8
  - master

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE test;'

env:
  - "MYSQL_DSN=root@(127.0.0.1:3306)/test?sql_mode=TRADITIONAL"

script:
  - go test -run . -benchmem -bench . ./...
